.wrapper{
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
}

.nav{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;
    margin-right: 30px;
}

.nav_item{
    margin-left: 25px;
    text-decoration: none;
    color: black;
}

.nav_item:visited{
    color: black;
}

.nav_item:hover{
    color: grey;
}

.logo{
    text-transform: uppercase;
    margin-left: 30px;
}

.main{
    margin-top: 10px;
}

.main_flex{
    display: flex;
    justify-content: space-evenly;
}

.content{
    margin-left: 20px;
    padding: 10px;
    flex-basis: 70%;
}

.paragraph p{
    font-size: 15px;
}

.paragraph h4{
    text-transform: uppercase;
    font-weight: 500;
}

.column{
    margin-top: 20px;
    text-align: center;
    flex-basis: 30%;
}

.column_ava{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    margin: 0 auto;
}

.column_content{
    font-size: 13px;
    max-width: 60%;
    margin: 0 auto;
}

.column_name{
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 1.9px;
    text-transform: uppercase;
}

.column_position{
    margin-top: 0;
    font-size: 13px;
    letter-spacing: 0.1px;
}

.assertive{
    display: flex;
    justify-content: space-evenly;
}

.assertive_item h5{
    text-transform: uppercase;
}

.assertive_item p{
    font-size: 13px;
    max-width: 70%;
}