body{
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
}

.content{
    display: flex;
    margin-top: 40px;
}

.element {
    margin: 15px;
}

.slick-arrow{
    border: none;
}

.slick-arrow:hover{
    cursor: pointer;
}

.slick-arrow:focus{
    outline: none;
}

.slick-next{
    background: url(../img/next.svg);
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-size: 15px;
}

.slick-prev{
    background: url(../img/back.svg);
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-size: 15px;
}

.element p, .element li{
    font-size: 14px;
}