html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    font-family: 'SF Pro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.maxwidth {
    max-width: calc(1920px*0.8);
    margin: 0 auto;
}

.wrapper {
    max-width: calc(1347px*0.8);
    padding: 0 20px;
    margin: 0 auto;
}

.break {
    width: 100%;
}

.break__big {
    height: calc(100px*0.8);
}

.break__small {
    height: calc(62px*0.8);
}

.break__tiny {
    height: calc(37px*0.8);
}

.break__right {
    height: 100%;
}

.break__right_tiny {
    width: 40px;
}

@font-face {
    font-family: 'SF Pro';
  src: url("../fonts/SF Pro/SF-Pro-Display-Regular.otf");
  font-weight: 400;
}

@font-face {
    font-family: 'SF Pro';
  src: url("../fonts/SF Pro/SF-Pro-Display-Bold.otf");
  font-weight: 700;
}

.logo {
    display: block;
    width: calc(290px*0.8);
    height: calc(89px*0.8);
    background: url(../img/agedefy/logo.png) center/contain no-repeat;
    background-position-x: -8px;
}

.button {
    padding: calc(15px*0.8) calc(21px*0.8);
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: calc(50px*0.8);
    color: white;
    text-decoration: none;
    font-size: calc(24px*0.8);
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 700;
}

.button:visited {
    color: white;
}

.button__blue {
    background: linear-gradient(90deg, #005C97 0%, #363795 100%);
    position: relative;
    z-index: 1;
}

.button__blue::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(87.94deg, #EC008C -4.61%, #FC6767 98.7%);
    z-index: -1;
    transition: opacity .3s ease;
    opacity: 0;
    border-radius: calc(50px*0.8);
}

.button__blue:hover::before {
    opacity: 1;
}

.button__pink {
    background: linear-gradient(87.94deg, #EC008C -4.61%, #FC6767 98.7%);
}

.agedefy__maxwidth {
    width: 100%;
    background: url(../img/agedefy/bg.png) center/cover no-repeat;
}

.agedefy__wrapper {
    padding-top: 10px;
    padding-bottom: calc(192px*0.8);
}

.agedefy__title {
    font-weight: 700;
    font-size: calc(73px*0.8);
    line-height: calc(73.07px*0.8);
    color: #EC008C;
  /* fallback for older browsers */
    background: linear-gradient(87.94deg, #EC008C -4.61%, #FC6767 98.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    max-width: calc(636px*0.8);
}

.agedefy__picture {
    width: calc(318px*0.8);
    height: calc(357px*0.8);
    background: url(../img/agedefy/picture.png) center/contain no-repeat;
    background-position-y: -25px;
    background-position-x: -15px;
    margin-left: -20px;
}

.agedefy__titlepic {
    display: flex;
    align-items: center;
}

.agedefy__subtitle {
    font-weight: 700;
    font-size: calc(24px*0.8);
    line-height: calc(28.64px*0.8);
    color: #EC008C;
  /* fallback for older browsers */
    background: linear-gradient(87.94deg, #EC008C -4.61%, #FC6767 98.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.highlight {
    position: relative;
    padding: calc(11px*0.8) calc(100px*0.8);
    border: 0;
    font-size: calc(42px*0.8);
    font-style: normal;
    font-weight: 700;
    line-height: calc(57px*0.8);
    letter-spacing: 0em;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    max-width: calc(500px*0.8);
}

.highlight::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(87.94deg, #EC008C -4.61%, #FC6767 98.7%);
    transform: skew(-23deg);
}

.list {
    list-style: none;
  /* Remove default bullets */
    padding-left: calc(23px*0.8);
    margin-bottom: calc(62px*0.8);
}

.list_horizontal {
    display: flex;
    margin-top: -7px;
}

.list_horizontal .list__item {
    margin-right: 40px;
}

.list__item {
    font-size: calc(24px*0.8);
    line-height: calc(28.64px*0.8);
    font-weight: 400;
    color: #606060;
    margin-bottom: calc(20px*0.8);
}

.list__item:before {
    content: "\2022";
      /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #EC008C;
      /* Change the color */
    font-weight: bold;
      /* If you want it to be bold */
    display: inline-block;
      /* Needed to add space between the bullet and the text */
    width: 1em;
      /* Also needed for space (tweak if needed) */
    margin-left: -1em;
      /* Also needed for space (tweak if needed) */
}

.featured__wrapper {
    padding-top: 54px;
    padding-bottom: 80px;
}

.featured__header {
    display: flex;
    align-items: center;
}

.featured__image {
    width: 100%;
}

.featured__people-imagewrapper {
    max-width: calc(516px*0.8);
}

.featured__people-text {
    max-width: calc(717px*0.8);
    margin-left: calc(78px*0.8);
}

.featured__people {
    display: flex;
    align-items: center;
    margin-top: calc(57px*0.8);
}

.featured__improvements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: calc(57px*0.8);
}

.featured__improvements-imagewrapper {
    max-width: calc(647px*0.8);
}

.featured__benefits {
    margin-top: calc(57px*0.8);
    display: flex;
    align-items: center;
    margin-left: -175px;
}

.featured__benefits-imagewrapper {
    max-width: calc(1053px*0.8);
    margin-top: -70px;
}

.featured__benefitwrap {
    margin-left: -112px;
}

.featured__item {
    max-width: calc(490px*0.8);
    padding-left: calc(15px*0.8);
    margin-bottom: calc(38px*0.8);
    border-left: 8px solid #EC008C;
}

.featured__item_header {
    margin-bottom: 5px;
}

.featured__item_body {
    max-width: calc(410px*0.8);
}

.featured__simulated {
    margin-top: -30px;
}

.rush {
    padding: calc(32px*0.8) 0;
    background: linear-gradient(180deg, #FFDBF9 19.08%, #FFFFFF 68.79%);
}

.rush__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rush__title {
    font-size: calc(36px*0.8);
    font-style: normal;
    font-weight: 700;
    line-height: calc(43px*0.8);
    letter-spacing: 0em;
    text-align: left;
    color: #EC008C;
    /* fallback for older browsers */
    background: linear-gradient(87.94deg, #EC008C -4.61%, #FC6767 98.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.rush__text {
    font-size: calc(36px*0.8);
    font-style: normal;
    font-weight: 400;
    line-height: calc(51px*0.8);
    letter-spacing: 0em;
    text-align: left;
    color: #606060;
}

.innerheader {
    display: flex;
    align-items: center;
}

.title {
    font-size: calc(36px*0.8);
    font-style: normal;
    font-weight: 700;
    line-height: calc(43px*0.8);
    letter-spacing: 0em;
    text-align: left;
    color: #EC008C;
  /* fallback for older browsers */
    background: linear-gradient(87.94deg, #EC008C -4.61%, #FC6767 98.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.title_small {
    font-size: calc(24px*0.8);
    font-style: normal;
    font-weight: 700;
    line-height: calc(29px*0.8);
    letter-spacing: 0em;
    text-align: left;
    color: #EC008C;
    /* fallback for older browsers */
    background: linear-gradient(87.94deg, #EC008C -4.61%, #FC6767 98.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.text {
    font-size: calc(24px*0.8);
    font-style: normal;
    font-weight: 400;
    line-height: calc(36px*0.8);
    letter-spacing: 0em;
    text-align: left;
    color: #606060;
}

.spotlight__wrapper {
    padding-top: calc(23px*0.8);
    padding-bottom: 70px;
}

.spotlight__article {
    max-width: calc(733px*0.8);
}

.spotlight__imagewrapper {
    max-width: calc(518px*0.8);
}

.spotlight__image {
    width: 100%;
}

.spotlight__inner {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exclusive__wrapper {
    padding-top: calc(23px*0.8);
}

.exclusive__article {
    max-width: calc(733px*0.8);
    margin-top: 70px;
}

.exclusive__imagewrapper {
    max-width: calc(767px*0.8);
}

.exclusive__image {
    width: 100%;
}

.exclusive__inner {
    margin-top: -50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.limited {
    padding-top: 20px;
}

.limited__maxwidth {
    padding-top: 30px;
    padding-bottom: 120px;
    width: 100%;
    background: url(../img/limited/bg.png) center/cover no-repeat;
}

.limited__title {
    margin-top: calc(22px*0.8);
    font-size: calc(48px*0.8);
    font-style: normal;
    font-weight: 700;
    line-height: calc(48px*0.8);
    letter-spacing: 0em;
    color: #EC008C;
    /* fallback for older browsers */
    background: linear-gradient(87.94deg, #EC008C -4.61%, #FC6767 98.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: left;
    max-width: calc(419px*0.8);
}

.limited__branding {
    display: flex;
    align-items: center;
}

.limited__imagewrapper {
    max-width: calc(305px*0.8);
}

.limited__image {
    margin-left: -50px;
    width: 100%;
    margin-top: 40px;
}

@media (max-width: 1100px) {
    .agedefy__picture {
        display: none;
    }

    .agedefy__maxwidth {
        background-position-x: -300px;
    }

    .agedefy__wrapper {
        padding-bottom: 50px;
    }

    .agedefy__titlepic {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .agedefy__title {
        font-size: 48px;
    }

    .highlight {
        font-size: 20px;
        padding: 5px 10px;
    }

    .title {
        font-size: 24px;
    }

    .title_small {
        font-size: 20px;
    }

    .featured__people {
        flex-direction: column-reverse;
    }

    .featured__people-text {
        margin-bottom: 20px;
    }

    .featured__improvements {
        flex-direction: column;
    }

    .featured__image_benefits {
        display: none;
    }

    .featured__benefits {
        margin-left: 0;
    }

    .featured__benefitwrap {
        margin: 0 auto;
    }

    .featured__simulated {
        display: none;
    }

    .rush__inner {
        max-width: 410px;
    }

    .rush__text {
        font-size: 18px;
    }

    .text {
        font-size: 20px;
    }

    .exclusive__inner {
        flex-direction: column-reverse;
    }

    .exclusive__imagewrapper {
        margin-top: 20px;
        max-width: 320px;
    }

    .exclusive__article {
        margin-top: 20px;
    }

    .list {
        margin-top: 20px;
        margin-left: 10px;
    }

    .list_right .list__item {
        font-size: 14px;
    }

    .spotlight__inner {
        flex-direction: column;
    }

    .spotlight__imagewrapper {
        margin-top: 20px;
    }

    .limited .highlight {
        display: none;
    }

    .limited .innerheader {
        display: initial;
    }

    .limited__image {
        display: none;
    }

    .limited__title {
        font-size: 26px;
    }
}

@media (max-width: 666px) {
    .logo {
        height: calc(51px*0.9);
        width: calc(166.17977905273438px*0.9);
        background-position-x: center;
    }

    .agedefy__picture {
        display: initial;
    }

    .agedefy__maxwidth {
        background: none;
    }

    .agedefy__wrapper {
        padding-bottom: 20px;
    }

    .agedefy__title {
        font-size: calc(36px*0.8);
        font-style: normal;
        font-weight: 700;
        line-height: calc(36px*0.8);
        letter-spacing: 0em;
        text-align: left;
    }

    .agedefy__titlepic {
        flex-direction: column-reverse;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .agedefy__subtitle {
        font-size: calc(24px*0.8);
        font-style: normal;
        font-weight: 700;
        line-height: calc(30px*0.8);
        letter-spacing: 0em;
        text-align: left;
    }

    .button {
        font-size: calc(18px*0.8);
        font-style: normal;
        font-weight: 700;
        line-height: calc(21px*0.8);
        letter-spacing: 0em;
        text-align: left;
    }

    .innerheader {
        flex-direction: column;
        align-items: flex-start;
    }

    .innerheader .title {
        max-width: calc(234px*0.8);
    }

    .featured__people-text {
        margin-left: 0;
    }

    .rush .title {
        display: none;
    }

    .rush__text {
        display: none;
    }

    .rush .button {
        margin: 0 auto;
    }

    .rush__bottom {
        display: none;
    }

    .exclusive .title {
        max-width: calc(178px*0.8);
    }

    .list_horizontal {
        flex-direction: column;
    }

    .spotlight {
        display: none;
    }

    .limited .highlight {
        display: block;
    }

    .limited__branding {
        display: none;
    }

    .limited__maxwidth {
        background: none;
        padding-bottom: 30px;
    }

    .break__big_bottom {
        display: none;
    }

    .break__small_bottom {
        display: none;
    }

    .button_bottom {
        margin: 0 auto;
    }
}
